@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F; /* 한글 음절, 자모, 호환 자모 */
}

/* @font-face {
    font-family: 'Hubballi';
    src: url('path-to-your-english-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F;
} */

body:lang(ko) {
    font-family: 'S-CoreDream-3Light'; /* 한글에만 적용될 폰트 */
}

body:lang(en) {
    font-family: 'Hubballi'; /* 영어에만 적용될 폰트 */
}

body {
    font-family: "Hubballi", 'S-CoreDream-3Light';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
}

.logo h1, .signup-form h2 {
    margin: 0;
    font-size: 3rem;
    color: #000;
}

.logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.logo img {
    height: 40px; 
    width: auto;
    margin-right: 8px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 15px;
    background-color: #0BEC12;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #0aa90a;
}

.links, .signup {
    margin-top: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a, .signup a {
    color: #555;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.signup-form {
    text-align: left;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    height: 100px;
}

.image-upload {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.image-upload span {
    color: gray;
}

.upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: gray;
    border: 1px solid #ccc;
    font-size: 24px; 
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}

.upload-label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-label i:hover {
    color: black;
}

.form-input--img {
    display: none; 
}

.login {
    margin-top: 10px;
}