.start-title {
    margin: 0px;
    font-size: 1.35rem;
    font-weight: bold;
}
.start-content {
    font-size: 1.1rem;
    height: 60px;
    overflow: hidden;
}
.start-card-title {
    margin-left: 20px;
}

.start-card-content {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.start-card a:hover .content-card {
    transform: translateY(-5px); /* 살짝 위로 이동 */
    transition: transform 0.3s ease-in-out; /* 애니메이션 속도 및 부드러움 설정 */
}

/* 기본 상태에서도 애니메이션을 적용하여 변화가 부드럽게 보이도록 설정 */
.start-card a .content-card {
    transition: transform 0.3s ease-in-out;
}
