@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F; /* 한글 음절, 자모, 호환 자모 */
}

/* @font-face {
    font-family: 'Hubballi';
    src: url('path-to-your-english-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F;
} */
 
body:lang(ko) {
    font-family: 'S-CoreDream-3Light'; /* 한글에만 적용될 폰트 */
}

body:lang(en) {
    font-family: 'Hubballi'; /* 영어에만 적용될 폰트 */
}

body{
    font-family: 'Hubballi', 'S-CoreDream-3Light'; 
}

.max-width-1200 {
    width: min(1200px, 100%);
    padding: 0 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 60px;
    min-height: 100vh;
    width: 100%;
    max-width: 1000px;
}

.review-create-card {
    width: 100%;
}

.trend-create-card {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 20px;

}

.main-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus {
    border-color: #0BEC12;
}

form button[type="submit"] {
    background-color: #0BEC12;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #28a745;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.btn-back:hover {
    background-color: #ddd;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btns {
    display: flex;
    justify-content: space-between;
}

#editor-container {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .max-width-1100 {
        width: min(1200px, 100%);
        padding: 0 40px;
    }

    .btns {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }
    .container {
        width: 90%;
        padding: 0px;
        margin-top: 0px;
    }

}
