@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F; /* 한글 음절, 자모, 호환 자모 */
}

/* @font-face {
    font-family: 'Hubballi';
    src: url('path-to-your-english-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F;
} */

body:lang(ko) {
    font-family: 'S-CoreDream-3Light'; /* 한글에만 적용될 폰트 */
}

body:lang(en) {
    font-family: 'Hubballi'; /* 영어에만 적용될 폰트 */
}

body{
    font-family: 'Hubballi', 'S-CoreDream-3Light'; 
    color: #333;
    background-color: white;
}


/* 모달 창 스타일 */
.mymodal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 약간 어둡게 */
    align-items: center;
    justify-content: center;
    display: none; /* 기본적으로 보이지 않음 */
}

#openModalBtn {
    background-color: white;
}

#openModalBtn:hover {
    background-color: black;
    color: white;
}

/* 모달 컨텐츠 스타일 */
.cor-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    /*display: flex;*/
    flex-direction: column; /* 수직 배열을 위한 설정 */
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.coffeechat-modal-h2 {
    padding-left: 5px;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0px;
}

/* 텍스트 입력 및 제출 버튼 컨테이너 스타일 */
.input-container {
    /*display: flex;*/
    flex-direction: column;
    width: 100%;
}

/* 텍스트 입력 영역 스타일 */
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    resize: vertical;
}

.letter-area {
    /*width: 100%;*/
    /*height: 450px;*/
    /*padding: 10px;*/
    /*margin-top: 20px;*/
    /*!*border: 1px solid #ccc;*!*/
    /*!*border-radius: 5px;*!*/
    /*font-size: 16px;*/
    /*box-sizing: border-box;*/
    /*resize: vertical;*/
}

/* 제출 버튼 스타일 */
#submitBtn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #45a049;
}

#coffeechatModalContent {
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}


.modal-accept, .modal-reject {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.modal-accept:hover {
    background-color: #45a049;
}



/*.btn-accept.modal-accept {*/
/*    align-self: flex-start; !* 버튼을 왼쪽으로 정렬 *!*/
/*    padding: 10px 20px; !* 버튼에 여백을 추가하여 보기 좋게 *!*/
/*    background-color: #007bff; !* 버튼 색상 *!*/
/*    color: white; !* 텍스트 색상 *!*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

