{% comment %} {% extends 'base.html' %} {% endcomment %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/mypage/profile_edit.css' %}">

<div class="form-container">
    <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="PiroTime Logo" width="170" height="170">
        <h1>PiroTime</h1>
    </div>

    <form method="post" action="{% url 'mypage:profile_edit' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_username">사용자 이름:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_email">이메일 주소:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_nickname">닉네임:</label>
            {{ form.nickname }}
            {% if form.nickname.errors %}
                <div class="error">{{ form.nickname.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group image-upload">
            <label for="id_profile_image" class="upload-label">
                <i class="fas fa-camera"></i>
            </label>
            {{ form.profile_image }}
            {% if form.profile_image.errors %}
                <div class="error">{{ form.profile_image.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_cohort">기수:</label>
            {{ form.cohort }}
            {% if form.cohort.errors %}
                <div class="error">{{ form.cohort.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_intro">소개:</label>
            {{ form.intro }}
            {% if form.intro.errors %}
                <div class="error">{{ form.intro.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="form-button">저장</button>
    </form>
</div>
{% endblock %}