main {
    min-height: 100vh;
}

.container {
    margin-top: 60px;
}

.max-width-1200 {
    width: min(1200px, 100%);
    padding: 0 40px;
}

.profile-header {
    /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */
    background: linear-gradient(135deg, #3498db, #2ecc71);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;  
    width: 100%;
    text-align: center; 
}

.profile-header img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.profile-header .profile-info {
    display: flex;
    align-items: center;
}

.profile-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.profile-header p {
    margin: 5px 0;
}

.profile-details {
    background: white;
    padding: 10px 20px 0 20px;
    border-radius: 10px;
    display: contents;
    margin: 0px 115px;
}

.flex {
    display: flex;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profile-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-content div {
    line-height: 1.6;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn-action,
.action-buttons a,
.action-buttons button {
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border:none;
}

.btn-action {
    background-color: white;
}

.btn-action:hover {
    background-color: black;
    color: white;
}

.btn-bookmark.bookmarked {
    background-color: black;
    color: #FFC107;
}

.fa-bookmark:hover {
    color: #FFC107;
}

.profile-img {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-img i {
    font-size: 4rem;
    color: #BBBBBB;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hashtag {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #CCCCCC;
}

.hashtag:hover {
    transform: scale(1.1);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    justify-content: flex-start;
}

/* .btn-back {
    background: rgba(211, 211, 211, 0.822);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: rgb(163, 163, 163);
    color: white;
} */

.action-buttons div {
    display: flex;
    gap: 10px;
}

.btn-delete,
.btn-edit, .btn-private {
    background-color: rgba(211, 211, 211, 0.5);
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-edit:hover {
    background-color: #2338f5;
    color: white;
    border:none;
}

.btn-delete:hover {
    background-color: #FF0000;
    color: white;
    border:none;
}

.btn-private:hover {
    background-color: black;
    color: white;
    border:none;
}

.btn-coffeechat {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
}

.btn-coffeechat:hover {
    background-color: black;
    color: white;
}

.status-message {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 0;
}


/* 모달 창 스타일 */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 약간 어둡게 */
    align-items: center;
    justify-content: center;
    display: none; /* 기본적으로 보이지 않음 */
}

#openModalBtn {
    background-color: white;
}

#openModalBtn:hover {
    background-color: black;
    color: white;
}

/* 모달 컨텐츠 스타일 */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    /*display: flex;*/
    flex-direction: column; /* 수직 배열을 위한 설정 */
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.coffeechat-modal-h2 {
    padding-left: 5px;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0px;
}

/* 텍스트 입력 및 제출 버튼 컨테이너 스타일 */
.input-container {
    /*display: flex;*/
    flex-direction: column;
    width: 100%;
}

/* 텍스트 입력 영역 스타일 */
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
}

/* 제출 버튼 스타일 */
#submitBtn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #45a049;
}
