.container{
    max-width: 1000px;
    margin: 3rem auto;
    padding: 20px;
    min-height: 100vh;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #0BEC12;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button{
    background-color: transparent;
    border: none;
}

.search-bar button:hover{
    background-color: transparent;
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    padding: 10px 20px;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    outline: none;
}

.search-bar input[type="text"]::placeholder {
    color: #999;
}

.btn-search {
    color: #fff;
    border: none;
    background-color: transparent;
    padding: 0 20px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-search:hover {
    background-color: transparent;
}

.fa-search {
    color: #0BEC12;
    font-size: 1.6rem;
}

.fa-search:hover {
    color: #28a745;
}

.profile-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.profile-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    align-items: center;
    /* background: linear-gradient(45deg, #ff6b6b, #f5f7fa); */
    background: linear-gradient(45deg, #00acdb, #00c4aa, #0074fc);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    position: relative;
    width: 100%;
}

.profile-info {
    margin-left: 20px;
    color: white;
}

.profile-card h2 {
    font-size: 1.5em;
    margin: 0;
}

.profile-card p {
    margin: 5px 0;
}

.profile-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hashtag-container {
    max-height: 95px; 
    overflow: hidden; 
    padding: 0 5px;
}

.hashtag {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #CCCCCC;
}

.hashtag-container a {
    text-decoration: none;
    color: black;
}

.hashtag-container a:hover {
    text-decoration: none; /* hover 시 밑줄이 없어짐 */
}

.hashtag:hover {
    transform: scale(1.05);
}

.profile-content {
    padding: 0 20px 20px 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.profile-content > a {
    margin-top: auto; /* Link를 아래로 밀기 위해 auto margin 사용 */
    align-self: flex-end; /* 왼쪽 정렬 */
}

.profile-img {
    background-color: lightgray;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-img i {
    font-size: 2rem;
    color: #BBBBBB;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}