.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.search-bar-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 50%;
    display: flex;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.profile-list{
    display: flex;
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 200px;
}

.profile-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-card p {
    margin: 5px 0;
}

.profile-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.profile-card a:hover {
    text-decoration: underline;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}