{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/review/review_create.css' %}">
<div class="container max-width-1200">
    <div class="review-create-card">
        <h1 class="main-title">프로젝트 리뷰 작성하기</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">제목</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="{{ form.content.id_for_label }}">내용</label>
                {{ form.content }}
            </div>
            <div class="form-group">
                <label for="{{ form.giturl.id_for_label }}">Git URL</label>
                {{ form.giturl }}
            </div>
            <div class="btns">
                <a href="{% url 'review:review_list' %}" class="btn btn-back">리뷰 목록으로 돌아가기</a>
                <button type="submit" class="btn btn-primary">제출하기</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}