{% extends "base.html" %}

{% block content %}
<section id="hero" class="max-width-1200">
    <div class="hero--contents hero--left">
        <h1>PiroTime</h1>
        <h2>피로그래머들을 위한 휴식공간</h2>
    </div>
    <div class="hero--contents hero--right">
        <div>
            <div class="hero--circle__container blend">
                <div style="width: 252px;">
                    <div class="hero--circle">
                        <span><strong>P</strong>otential</span>
                    </div>
                </div>
                <div style="height: 252px;">
                    <div class="hero--circle">
                        <span><strong>I</strong>nsight</span>
                    </div>
                </div>
                <div style="height: 252px;">
                    <div class="hero--circle">
                        <span><strong>R</strong>ise</span>
                    </div>
                </div>
                <div style="height: 252px;">
                    <div class="hero--circle">
                        <span><strong>O</strong>vercome</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about max-width-1200 animation-reveal">
    <div class="about-content">
        <div class="icon">💻</div>
        <div class="description">
            <h2>About</h2>
            <h1>PiroTime</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Nulla elementum bibendum turpis egestas duis pulvinar. Nulla massa mauris duis.</p>
            <p>Vivamus. Sed faucibus ultricies tempor sit tempor. In mauris in platea odio diam sollicitudin turpis et nisl.</p>
        </div>
    </div>
</section>

<section class="activities max-width-1200">
    <h1>What you can do at PiroTime</h1>
    <div class="activity-cards">
        <div class="activity-card">
            <h3>Project Review</h3>
            <p>프로젝트 공유합니다.<br/> 피드백&리뷰 받아요!</p>
        </div>
        <div class="activity-card">
            <h3>Project Cooperation</h3>
            <p>좋은 아이디어가 있어요?<br/> 같이 프로젝트 진행해요!</p>
        </div>
        <div class="activity-card">
            <h3>Coffee Chat</h3>
            <p>진로, 프로젝트 고민이<br/> 있어요? 커피챗 해요!</p>
        </div>
        <div class="activity-card">
            <h3>IT Trend</h3>
            <p>요즘 IT 업계의 <br/>따끈따끈한 소식 공유해요!</p>
        </div>
    </div>
</section>
{% endblock %}
