<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiroTime</title>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
</head>
<body>
    <div class="form-container">
        <div class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="PiroTime Logo" width="170" height="170">
            <h1>PiroTime</h1>
        </div>
        <div class="signup-form">
            <input type="text" placeholder="아이디" class="form-input">
            <input type="password" placeholder="비밀번호" class="form-input">
            <input type="password" placeholder="비밀번호 확인" class="form-input">
            <input type="text" placeholder="사용자 닉네임" class="form-input">
            <input type="email" placeholder="email" class="form-input">
            <input type="text" placeholder="동아리 기수" class="form-input">
            <textarea placeholder="사용자 자기소개 (선택)" class="form-textarea"></textarea>
            <div class="image-upload">
                <span>프로필 이미지 (선택)</span>
                <label for="imageUpload" class="upload-label">
                    <i class="fas fa-camera"></i> 
                </label>
                <input type="file" id="imageUpload" accept="image/*" class="form-input--img">
            </div>
            <button class="form-button" onclick="navigateToMain()">회원가입</button>
        </div>
        <div class="login">
            <a href="login.html">아이디가 있으신가요? 로그인하기</a>
        </div>
    </div>
    <script>
        function navigateToMain() {
            window.location.href = 'main.html';
        }
    </script>
</body>
</html>