@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F; /* 한글 음절, 자모, 호환 자모 */
}

/* @font-face {
    font-family: 'Hubballi';
    src: url('path-to-your-english-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F; 
} */

body:lang(ko) {
    font-family: 'S-CoreDream-3Light'; /* 한글에만 적용될 폰트 */
}

body:lang(en) {
    font-family: 'Hubballi'; /* 영어에만 적용될 폰트 */
}

body{
    font-family: 'Hubballi', 'S-CoreDream-3Light'; 
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white; /* 모달 박스 색상 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 80%;
    position: relative;
}

.close-button {
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.btn-view-letter {
    background-color: none;
}