a {
    text-decoration: none;
}

.activity-card {
    width: 150px;
    height: 200px;
}

.icon-container {
    position: absolute;
    top: 30px; /* 페이지의 상단에서 10px 아래에 위치 */
    right: 30px; /* 페이지의 우측에서 10px 왼쪽에 위치 */
    font-size: 24px; /* 아이콘의 크기를 조절 */
    cursor: pointer; /* 마우스 오버 시 커서가 포인터로 변경 */
}

.icon-container i {
    color: gray; /* 아이콘의 색상을 검정으로 설정 */
}

.icon-container i:hover {
    color: black; /* 아이콘의 색상을 검정으로 설정 */
}

.fa-user {
    font-size: 32px;
}

.activity-card .card-content h3 {
    font-size: 18px;
    margin: 0;
    white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
