body {
    font-family: "Hubballi", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 600px; /* 최대 너비를 600px로 제한 */
    box-sizing: border-box;
    margin: 0 auto; /* 중앙 정렬 */
}

.logo h1 {
    margin: 0;
    font-size: 3rem;
    color: #000;
}

.logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.logo img {
    height: 40px; 
    width: auto;
    margin-right: 8px;
}

.form-group {
    margin: 10px 0;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-textarea {
    resize: vertical;
    height: 100px;
}

.form-button {
    width: 100%;
    padding: 15px;
    background-color: #0BEC12;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #0aa90a;
}

.image-label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* span과 button 사이의 공간을 균등하게 분배 */
    margin-bottom: 10px; /* label과 프로필 이미지 사이의 간격 */
}

.image-upload {
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: left; /* 이미지 업로드 섹션의 정렬을 텍스트와 일치 */
}

.image-upload span {
    display: block; /* 텍스트를 이미지 업로드 섹션 위에 표시 */
    color: gray;
    margin-bottom: 5px; /* 텍스트와 업로드 버튼 사이의 간격 추가 */
}

.upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: gray;
    border: 1px solid #ccc;
    font-size: 24px; 
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}

.upload-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* 업로드된 이미지도 원형으로 표시 */
}

.upload-label i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
}

.upload-label i:hover {
    color: black;
}

.form-input--img {
    display: none; 
}

.remove-image {
    display: none;
    margin-top: 10px; 
    color: #0BEC12;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0.9rem;
    text-decoration: underline;
}

.remove-image:hover {
    color: #0aa90a;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
