{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/coffeechat/detail.css' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
<style>
    .container {
        min-height: calc(100vh - 11rem);
    }
    .fa-bookmark {
        font-size: 1.4rem;
    }
</style>
<div class="container">
    <div class="profile-header">
        <div class="header-container max-width-1200">
            <div class="profile-info">
                <div class="profile-img">
                    {% if profile.receiver.profile_image %}
                        <img src="{{ profile.receiver.profile_image.url }}" alt="Profile Image">
                    {% else %}
                        <i class="fas fa-user"></i>
                    {% endif %}
                </div>
                <div>
                    <h1>{{ profile.receiver.username }}</h1>
                    <p>{{ profile.job }}</p>
                    <p>피로그래밍 {{ profile.receiver.cohort }}기</p>
                    <p>커피챗 {{ profile.count }}회</p>
                </div>
            </div>
            <div class="action-buttons">
                {% if user.is_authenticated %}
                    {% if user == profile.receiver %}
                    <div>
                        <a href="{% url 'coffeechat:coffeechat_update' profile.pk %}" class="btn-edit">
                            <i class="fas fa-edit"></i> 수정
                        </a>
                        <form id="delete-form" method="post" action="{% url 'coffeechat:coffeechat_delete' profile.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="button" onclick="confirmDelete()" class="btn-delete">
                                <i class="fas fa-trash-alt"></i> 삭제
                            </button>
                        </form>
                        <a href="/" class="btn-private">비공개로 전환하기</a>
                    </div>
                    {% else %}
                        {% csrf_token %}
                        {% if is_limited %}
                        <p class="status-message">오늘치 최대 커피챗을 신청받음</p>
                        {% elif is_waiting %}
                        <p class="status-message">커피챗 수락대기중</p>
                        {% else %}
                        <form method="post" >
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2 class="coffeechat-modal-h2">선배님께 커피챗 신청 메세지를 작성해주세요</h2>
                                    {% csrf_token %}
                                    <div class="input-container">
                                        <textarea id="userInput" name="requestContent" rows="10" cols="50" placeholder="여기에 글을 작성하세요..."></textarea>
                                        <button type="submit" id="submitBtn">제출</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button id="openModalBtn">신청하기</button>

                        {% endif %}
                        <button class="btn-action btn-bookmark {% if user in profile.bookmarks.all %}bookmarked{% endif %}" data-profile-id="{{ profile.pk }}">
                            <i class="fas fa-bookmark {% if user in profile.bookmarks.all %}bookmarked{% endif %}"></i>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="profile-details max-width-1200">
        <div class="flex" style="margin: 0 100px;">
            {% for hashtag in hashtags %}
            <p>
                <a href="{% url 'coffeechat:coffeechat_list' %}?search={{ hashtag.name }}" class="hashtag" style="color: black;">#{{ hashtag.name }}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="profile-content max-width-1200">
        <h2>프로필 소개</h2>
        <div>{{ profile.content|safe }}</div>
    </div>
    <!-- 요청 목록을 표시 -->
    <div class="requests-list max-width-1200">
        <h3>요청받은 커피챗:</h3>
        {% for request in requests %}
        <div class="request-item">
            <p>{{ request.user.username }}: {{ request.get_status_display }}</p>
            <p>요청 시간: {{ request.created_at }}</p>
            {% if user.is_authenticated and user == profile.receiver and request.status == 'WAITING' %}
            <form method="post" action="{% url 'coffeechat:accept_request' request.id %}">
                {% csrf_token %}
                <button type="submit">수락하기</button>
            </form>
            <form method="post" action="{% url 'coffeechat:reject_request' request.id %}">
                {% csrf_token %}
                <button type="submit">거절하기</button>
            </form>
            {% endif %}
            <!-- 리뷰 버튼 추가 -->
            {% if user.is_authenticated and request.status == 'ACCEPTED' %}
            <a href="{% url 'coffeechat:review_create' request.id %}">
                <button type="button">리뷰 작성하기</button>
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- 리뷰 작성 링크 -->
    {% if request.user == profile.receiver and show_review_button %}
    <a href="{% url 'coffeechat:review_create' coffeechat_request.id %}">Write Review</a>
    {% endif %}

    <div class="btn-container">
        <a href="{% url 'coffeechat:coffeechat_list' %}" class="btn-back"> <i class="fas fa-arrow-left"></i>목록보기</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src={%  static 'js/coffeechat.js' %}></script>
<script>
    function confirmDelete() {
        if (confirm("삭제하시겠습니까?")) {
            document.getElementById('delete-form').submit();
        }
    }

    function getCSRFToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }

    $(document).ready(function() {
        // AJAX 설정
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
                }
            }
        });

        // 북마크 기능
        $('.btn-bookmark').click(function() {
            var profileId = $(this).data('profile-id');
            var bookmarkButton = $(this);
            $.post('/coffeechat/' + profileId + '/bookmark/', {
                csrfmiddlewaretoken: getCSRFToken()
            }, function(data) {
                if (data.bookmarked) {
                    bookmarkButton.addClass('bookmarked');
                } else {
                    bookmarkButton.removeClass('bookmarked');
                }
            }).fail(function(xhr, status, error) {
                // 로그인 리다이렉션 확인
                if (xhr.status == 302) {
                    window.location.href = xhr.getResponseHeader('Location');
                } else {
                    alert('북마크 요청에 실패했습니다. 다시 시도해주세요.');
                }
            });
        });
    });

    // 모달 열기

  </script>
{% endblock %}
