{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/coffeechat/detail.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <style>
        .container {
            min-height: calc(20vh - 11rem);
        }

        .fa-bookmark {
            font-size: 1.4rem;
        }

        /* 모달 기본 스타일 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fefefe;
        }


        /* 닫기 버튼 스타일 */
        #submitBtn {
            width: 100%;
            background-color: #0BEC12;
            border-radius: 20px;
        }

        #submitBtn:hover {
            background-color: #08ce0f;
        }

        .profile-header img {
            margin-right: 0;
        }

        #openModalBtn,
        .btn-bookmark {
            height: 37.5px;
            line-height: 1.5;
            text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-top: 0px;
            border: none;
            border-radius: 5px;
        }

        .review-button {
            background: linear-gradient(to right, #0BEC12, #8CF781);
            border: none;
            border-radius: 25px;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            transition: background 0.3s ease, transform 0.3s ease;
            cursor: pointer;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        }

        .review-button:hover {
            background: linear-gradient(to right, #8CF781, #0BEC12);
            transform: scale(1.05);
        }

        .review-button:active {
            transform: scale(0.98);
        }

        .tab-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 10px;
            margin-top: 100px;
        }

        .tab-item {
            font-size: 16px;
            color: #888;
            padding: 10px 20px;
            cursor: pointer;
            position: relative;
        }

        .tab-item.active {
            font-weight: bold;
            color: #000;
        }

        .tab-item.active::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 10%;
            right: 10%;
            height: 3px;
            background-color: #0BEC12;
            /* 밑줄 색상 */
            border-radius: 2px;
        }

        .tab-content {
            display: none;
            padding: 20px;
            margin-top: 10px;
            border-radius: 8px;
        }

        .tab-content.active-content {
            display: block;
        }

        .review-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .card-review {
            width: 75rem;
            margin: 10px 0;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #fff;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }

        .card-review:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* 더 진한 그림자 */
            transform: translateY(-5px);
            /* 요소를 위로 5px 이동 */
        }

        .card-body h5 {
            margin-bottom: 15px;
            font-size: 23px;
            font-weight: bold;
        }

        .card-body p {
            font-size: 16px;
            color: #555;
        }

        .card-title {
            margin-top: 20px;
        }

        /*  */
        .flex {
            flex-direction: column;
        }

        .hashtag-box {
            display: flex;
            justify-content: start;
            justify-items: stretch;
            align-items: center;
        }

        /*  */
        .review-rule {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 120px;
            text-align: start;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }

        .review-rule:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* 더 진한 그림자 */
            transform: translateY(-5px);
            /* 요소를 위로 5px 이동 */
        }

        .review-rule h3 {
            font-size: 20px;
            color: #333;
            margin-bottom: 15px;
        }

        .review-rule h5 {
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
        }

        .review-rule h5:last-of-type {
            margin-bottom: 0;
        }

        .review-check-box {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
        }

        .review-alarm {
            font-size: 23px;
        }

        .review-check {
            font-size: 18px;
        }

        .hashtag-title {
            font-size: 23px;
        }

        .profile-details-box {
            padding: 0px 155px;
        }

        .profile-content div {
            line-height: 1.6;
            font-size: 1.2em;
            text-align: start;
            padding: 0px 285px;
            border: none;
        }

        .status-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;
            justify-content: flex-end;
            gap: 2rem;
        }

        .my-profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;
            justify-content: flex-end;
            gap: 1rem;
        }

        .btn-delete {
            border: none;
        }

        @media (max-width: 450px) {
            .container {
                width: 100%;
                min-height: calc(20vh - 11rem);
            }

            .header-container {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .profile-header .profile-info {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
            }

            .profile-img img {
                width: 80px;
                height: 80px;
            }

            .action-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1rem;
            }

            .action-buttons a,
            .action-buttons button {
                width: 10%;
                margin-bottom: 0.5rem;
            }

            .tab-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: nowrap;
                margin-top: 30px;
            }

            .tab-item {
                width: 92%;
                text-align: center;
                margin-bottom: 0.5rem;
                padding: 10px;
            }

            .profile-details-box {
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 0;
                padding: 0px 10px;
                width: 90%;
            }

            .hashtag-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .card-review {
                width: 90% !important;
                margin-bottom: 1rem;
            }

            .requests-list {
                width: 92%;
                padding: 0 .5rem;
            }

            .review-rule h5 {
                font-size: 14px;
            }

            .review-rule {
                padding: 20px;
                margin-left: -32px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin-bottom: 120px;
                text-align: start;
                transition: box-shadow 0.3s ease, transform 0.3s ease;
            }

            .review-check-box {
                width: 100%;
                text-align: center;
                margin-bottom: 1rem;
                display: grid;
            }

            .review-button {
                width: 100%;
                padding: 10px;
                font-size: 16px;
            }

            .btn-container {
                width: 100%;
                text-align: center;
                margin-top: 1rem;
            }

            .max-width-1100 {
                width: min(1123px, 80%);
                padding: 0 40px;
            }

            .footer {
                width: 110%;
            }

            .max-width-1000 {
                width: min(1123px, 97%);
                padding: 0 0px;
            }

            .tab-content3 {
                width: 80%;
            }

            .profile-header {
                justify-content: center;
                align-items: center;
                width: 90%;
            }

            .action-buttons div {
                display: flex;
                gap: 25px;
                align-items: center;
            }

            .profile-content div {
                line-height: 1.6;
                font-size: 1.2em;
                text-align: center;
                padding: 0px;
                border: none;
            }

            .modal-content {
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                width: 78%;
                max-width: 500px;
                position: relative;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                margin: 0px 10px 0px 0px;
            }

            .btn-bookmark.bookmarked {
                background-color: black;
                color: #FFC107;
                width: 10%;
            }

            .btn-action:hover {
                background-color: black;
                color: white;
                width: 40%;
            }

            .profile-header p {
                margin: 5px 0;
                width: 70%;
            }

            .btn-bookmark {
                height: 37.5px;
                line-height: 1.5;
                text-align: center;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-top: 0px;
                width: 10%;
            }

            #openModalBtn {
                height: 37.5px;
                line-height: 1.5;
                text-align: center;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-top: 0px;
                width: 80%;
                border: none;
                border-radius: 5px;
            }

            .my-profile {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1rem;
                justify-content: center;
                gap: 2rem;
            }

            .btn-edit,
            .btn-private {
                width: 50%;
                margin-bottom: 0.5rem;
                border: none;
            }

            .btn-delete {
                width: 220%;
                margin-bottom: 0.5rem;
                border: none;
            }

            .btn-delete,
            .btn-edit, .btn-private {
                padding: 5px 5px;
            }

            .my-profile > *:nth-child(1) {
                margin-right: 0rem;
                /* 첫 번째 요소와 두 번째 요소 사이의 간격 */
            }

            .my-profile > *:nth-child(2) {
                margin-right: 1.5rem;
                /* 두 번째 요소와 세 번째 요소 사이의 간격 */
            }

            .profile-info-box {
                text-align: -webkit-center;
            }

            .max-width-1200 {
                width: min(1200px, 98%);
                padding: 0 30px;
            }

            .status-message {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1rem;
                justify-content: center;
                gap: 0rem;
            }

            .status-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1rem;
                justify-content: center;
                gap: 0rem;
            }

            .review-alarm {
                font-size: 23px;
                text-align: center;
                margin-left: -39px;
            }
        }
    </style>
    <div class="container">
        <div class="profile-header">
            <div class="max-width-1100 max-width-1200">
                <div class="profile-info">
                    <div class="profile-img">
                        {% if profile.receiver.profile_image %}
                            <img src="{{ profile.receiver.profile_image.url }}" alt="Profile Image">
                        {% else %}
                            <i class="fas fa-user"></i>
                        {% endif %}
                    </div>
                    <div class="profile-info-box">
                        <h1>{{ profile.receiver.username }}</h1>
                        <p>{{ profile.job }}</p>
                        <p>피로그래밍 {{ profile.receiver.cohort }}기</p>
                        <p>커피챗 {{ profile.count }}회</p>
                    </div>
                </div>
                <div class="my-profile status-box">
                    {% if user.is_authenticated %}
                        {% if user == profile.receiver %}
                            <!-- 프로필 소유자가 자신의 프로필을 보는 경우 -->
                            <div class="my-profile btn-container">
                                <a href="{% url 'coffeechat:coffeechat_update' profile.pk %}" class="btn-edit">
                                    <i class="fas fa-edit"></i> 수정
                                </a>
                                <form id="delete-form" method="post"
                                      action="{% url 'coffeechat:coffeechat_delete' profile.pk %}"
                                      style="display:inline;">
                                    {% csrf_token %}
                                    <button type="button" onclick="confirmDelete()" class="btn-delete"
                                            style="font-family: S-CoreDream-3Light; font-size: 1rem;">
                                        <i class="fas fa-trash-alt" style="font-size: 1rem;"></i> 삭제
                                    </button>
                                </form>
                                <a href="{% url 'coffeechat:toggle_visibility' profile.pk %}" class="btn-private">
                                    {% if profile.is_public %}
                                        비공개로 전환하기
                                    {% else %}
                                        공개로 전환하기
                                    {% endif %}
                                </a>
                            </div>
                        {% else %}
                            {% csrf_token %}
                            {% if is_limited %}

                                <div class=status-box>
                                <p class="status-message">오늘치 최대 커피챗을 신청받음</p>
                            {% elif is_waiting %}
                                <p class="status-message">커피챗 수락대기중</p>
                            {% elif has_pending_request %}
                                <p class="status-message">당신에게 커피챗 신청 중</p>
                            {% else %}
                                <button id="openModalBtn" type="button" style="font-family: S-CoreDream-3Light;"
                                        class="btn-coffeechat">커피챗 신청하기
                                </button>
                            {% endif %}



                            <!-- 북마크 버튼 -->
                            <button type="button"
                                    class="btn-action btn-bookmark {% if user in profile.bookmarks.all %}bookmarked{% endif %}"
                                    data-profile-id="{{ profile.pk }}">
                                <i class="fas fa-bookmark {% if user in profile.bookmarks.all %}bookmarked{% endif %}"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>

            <!-- modal html 폼 -->
            <form method="post">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2 class="coffeechat-modal-h2">선배님께 커피챗 신청 메세지를 작성해주세요</h2>
                        {% csrf_token %}
                        <div class="input-container">
                        <textarea id="userInput" name="requestContent" rows="10" cols="50"
                                  placeholder="선배님께 궁금한 점이나 자기소개를 작성해주세요..."></textarea>
                            <button type="submit" id="submitBtn">제출</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" id="coffeechat-modal-close">&times;</span>
                <h2 class="coffeechat-modal-h2">선배님께 커피챗 신청 메세지를 작성해주세요</h2>
                {% csrf_token %}
                <div class="input-container">
                <textarea id="userInput" name="requestContent" rows="10" cols="50"
                          placeholder="여기에 글을 작성하세요..."></textarea>
                    <button type="submit" id="submitBtn" style="font-family: S-CoreDream-3Light;">제출</button>
                </div>
            </div>
        </div>

        <div class="profile-details max-width-1200">
            <div class="profile-details-box flex">
                <!-- <h4 class="hashtag-title">파트너의 관심사는</h4> -->
                <div class="hashtag-box">
                    {% for hashtag in hashtags %}
                        <p>
                            <a href="" class="hashtag" style="color: black;" onclick="event.preventDefault();">
                                #{{ hashtag.name }}
                            </a>
                        </p>
                    {% endfor %}
                </div>
                <!-- <h4 class="hashtag-title">입니다</h4> -->
            </div>
        </div>

        <div class="tab-container">
            <div class="tab-item active" data-target="content-1">파트너 소개</div>
            <div class="tab-item" data-target="content-2">파트너 전체 리뷰</div>
            <div class="tab-item" data-target="content-3">리뷰 작성 관리</div>
        </div>

        <div class="tab-content-container">
            <div id="content-1" class="tab-content active-content">
                <div class="profile-content max-width-1000">
                    <div>{{ profile.content|safe }}</div>
                </div>

            </div>
            <div id="content-2" class="tab-content">
                <div class="review-container">
                    {% for review in reviews %}
                        <div class="card-review">
                            <div class="card-body">
                                <h5 class="card-title">{{ review.reviewer.username }} 님의 리뷰</h5>
                                <p class="card-text">{{ review.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="content-3" class="tab-content tab-content3">
                <!-- 요청 목록을 표시 -->
                <div class="requests-list max-width-1200">
                    <div class="review-rule">
                        <h3>커피챗 리뷰 남기기 유의사항</h3>
                        <h5>🫰커피챗 진행 후 리뷰를 남겨주세요</h5>
                        <h5>🫰정성스러운 리뷰는 피로그래머들에게 큰 도움이 돼요</h5>
                        <h5>🫰한 번 남기면 수정이 어려우니 주의하여 작성해주세요</h5>
                    </div>

                    <h3 class="review-alarm">리뷰를 남겨주세요! 커피챗 완료 후에 리뷰를 남길 수 있어요</h3>
                    {% for request in requests %}
                        <!-- 리뷰 버튼 추가 -->
                        {% if user.is_authenticated and request.status == 'ACCEPTED' and request.user == user %}
                            {% if not request.existing_review %}
                                <div class="review-check-box">
                                <p class="review-check">
                                    피로그래머 {{ profile.receiver.cohort }}기 {{ profile.receiver.username }}님이
                                    커피챗을
                                    {{ request.get_status_display }}하셨습니다!!</p>
                                <!-- <p>요청 시간: {{ request.created_at }}</p> -->
                                <a href="{% url 'coffeechat:review_create' request.id %}">
                                    <button type="button" class="review-button">리뷰 작성하기</button>
                                </a>
                                <div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            <!-- 리뷰 작성 링크 -->
            {% if request.user == profile.receiver and show_review_button %}
                <a href="{% url 'coffeechat:review_create' coffeechat_request.id %}"></a>
            {% else %}
            {% endif %}
            <div class="btn-container">
                <!-- <a href="{% url 'coffeechat:coffeechat_list' %}" class="btn-back"> <i class="fas fa-arrow-left"></i>목록보기</a> -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function confirmDelete() {
            if (confirm("삭제하시겠습니까?")) {
                document.getElementById('delete-form').submit();
            }
        }

        function getCSRFToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }

        $(document).ready(function () {
            // AJAX 설정
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
                    }
                }
            });

            // 북마크 기능
            $('.btn-bookmark').click(function () {
                var profileId = $(this).data('profile-id');
                var bookmarkButton = $(this);
                $.post('/coffeechat/' + profileId + '/bookmark/', {
                    csrfmiddlewaretoken: getCSRFToken()
                }, function (data) {
                    if (data.bookmarked) {
                        bookmarkButton.addClass('bookmarked');
                    } else {
                        bookmarkButton.removeClass('bookmarked');
                    }
                }).fail(function (xhr, status, error) {
                    // 로그인 리다이렉션 확인
                    if (xhr.status == 302) {
                        window.location.href = xhr.getResponseHeader('Location');
                    } else {
                        alert('북마크 요청에 실패했습니다. 다시 시도해주세요.');
                    }
                });
            });

            // "신청하기" 버튼 클릭 시 모달 열기 기능
            $('#openModalBtn').click(function () {
                var modal = document.getElementById("myModal");
                modal.style.display = "flex";
            });

            // 모달 닫기 (X 버튼 클릭 시)
            $('.close').click(function () {
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            });


            // 모달 닫기 (모달 외부 클릭 시)
            window.onclick = function (event) {
                var modal = document.getElementById("myModal");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

            // 제출 버튼 클릭 시 모달 닫기
            $('#submitBtn').click(function () {
                alert("메일이 전송 중입니다");
                var modal = document.getElementById("myModal");
                modal.style.display = "none";


            });

            // 탭 전환 기능
            const tabItems = document.querySelectorAll(".tab-item");
            const tabContents = document.querySelectorAll(".tab-content");

            tabItems.forEach(item => {
                item.addEventListener("click", function () {
                    // 모든 탭 아이템에서 active 클래스 제거
                    tabItems.forEach(i => i.classList.remove("active"));
                    // 클릭된 탭에 active 클래스 추가
                    this.classList.add("active");

                    // 모든 탭 콘텐츠 숨기기
                    tabContents.forEach(content => content.classList.remove("active-content"));
                    tabContents.forEach(content => content.style.display = "none");

                    // 클릭된 탭과 관련된 콘텐츠 표시
                    const target = this.getAttribute("data-target");
                    document.getElementById(target).classList.add("active-content");
                    document.getElementById(target).style.display = "block";
                });
            });
        });
    </script>

{% endblock %}
