{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/coffeechat/profile.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/coffeechat/list.css' %}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="container">
    <div class="search-bar-container">
        <form class="search-bar" method="get" action="{% url 'coffeechat:coffeechat_list' %}">
            <input type="text" name="search" placeholder="선배들의 프로필을 검색해보세요...">
            <button type="submit" class="btn btn-search"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="profile-list">
        {% if profiles %}
            {% for profile in profiles %}
                <div class="profile-card">
                    <div class="profile-header">
                        <div class="profile-img">
                            {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}" alt="Profile Image">
                            {% else %}
                                <i class="fas fa-user"></i>
                            {% endif %}
                        </div>
                        <div class="profile-info">
                            <h2>{{ profile.receiver.username }}</h2>
                            <p>{{ profile.job }}</p>
                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="hashtag-container">
                            {% for hashtag in profile.hashtags.all %}
                                <a href="{% url 'coffeechat:coffeechat_list' %}?search={{ hashtag.name }}" class="hashtag">#{{ hashtag.name }}</a>
                            {% endfor %}
                        </div>
                        <a href="{% url 'coffeechat:coffeechat_detail' profile.pk %}">View Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="color:#BBBBBB;">현재 등록된 프로필이 없습니다.<br/><a href="{% url 'coffeechat:coffeechat_create' %}">자신의 프로필 등록하기</a></p>
        {% endif %}
    </div>    
</div>
{% endblock %}
