{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/coffeechat/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/coffeechat/list.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">
<style>
    .btn-bookmark {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5em;
        color: #ccc;
    }

    .btn-bookmark.bookmarked {
        color: #FFC107;
    }

    .fa-bookmark:hover {
        color: #FFC107;
    }
    @media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .coffeechat-card {
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .review-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .card-review {
        width: 100% !important;
    }
}

@media (max-width: 450px) {
    .coffeechat-card {
        width: 80% !important;
        margin-bottom: 1rem;
    }

    .card-url {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .flex-center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .job-box {
        width: 100%;
    }

    .profile-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        width: 90% !important;
        margin-bottom: 1rem;
    }

    .profile-header,
    .profile-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-img img {
        width: 100px; /* 이미지 크기를 줄일 수 있습니다. 필요에 따라 조정하세요. */
    }

    .profile-info {
        margin-left: 0px;
    }
}

</style>
<div class="container">
    <div class="search-bar-container">
        <form class="search-bar" method="get" action="{% url 'coffeechat:coffeechat_list' %}">
            <input type="text" name="search" placeholder="선배들의 프로필을 검색해보세요...">
            <button type="submit" class="btn btn-search"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="profile-list">
        {% if profiles %}
            {% for profile in profiles %}
                <div class="profile-card">
                    <div class="profile-header">
                        <div class="profile-img">
                            {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}" alt="Profile Image">
                            {% else %}
                                <i class="fas fa-user"></i>
                            {% endif %}
                        </div>
                        <div class="profile-info">
                            <h2>{{ profile.receiver.nickname }}</h2>
                            <p>{{ profile.job }}</p>
                        </div>
                        {% if user != profile.receiver %}
                            <button class="btn-action btn-bookmark {% if user in profile.bookmarks.all %}bookmarked{% endif %}" data-profile-id="{{ profile.pk }}">
                                <i class="fas fa-bookmark {% if user in profile.bookmarks.all %}bookmarked{% endif %}"></i>
                            </button>
                        {% endif %}
                    </div>
                    <div class="profile-content">
                        <div class="hashtag-container">
                            {% for hashtag in profile.hashtags.all %}
                                <a href="{% url 'coffeechat:coffeechat_list' %}?search={{ hashtag.name }}" class="hashtag" >#{{ hashtag.name }}</a>
                            {% endfor %}
                        </div>
                        <a href="{% url 'coffeechat:coffeechat_detail' profile.pk %}">View Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="color:#BBBBBB;">현재 등록된 프로필이 없습니다.<br/><a href="{% url 'coffeechat:coffeechat_create' %}">자신의 프로필 등록하기</a></p>
        {% endif %}
    </div>
</div>

<script>
    function getCSRFToken() {
        const csrfToken = document.querySelector('meta[name="csrf-token"]');
        return csrfToken ? csrfToken.getAttribute('content') : '';
    }

    $(document).ready(function() {
        // AJAX 설정
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
                }
            }
        });

        // 북마크 기능
        $('.btn-bookmark').click(function() {
            var profileId = $(this).data('profile-id');
            var bookmarkButton = $(this);
            $.post('/coffeechat/' + profileId + '/bookmark/', {
                csrfmiddlewaretoken: getCSRFToken()
            }, function(data) {
                if (data.bookmarked) {
                    bookmarkButton.addClass('bookmarked');
                } else {
                    bookmarkButton.removeClass('bookmarked');
                }
            }).fail(function(xhr, status, error) {
                // 로그인 리다이렉션 확인
                if (xhr.status == 302) {
                    window.location.href = xhr.getResponseHeader('Location');
                } else {
                    alert('북마크 요청에 실패했습니다. 다시 시도해주세요.');
                }
            });
        });
    });
</script>
{% endblock %}
