<!-- coffeechat/review_form.html -->
{% extends 'base.html' %}

{% block title %}Create Review{% endblock %}

{% block content %}
{% load static %}
<style>
    h2 {
        font-size: 40px;
        font-weight: bold;
        justify-content: center;
        display: flex;
        margin-top: 120px;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        display: flex;
        margin-top: 50px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }

    button {
        background-color: rgba(11, 236, 18, 0.6);
        color: black;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        transition: background-color 0.3s, border 0.3s;
    }

    button:hover {
        background-color: rgba(11, 236, 18, 0.8);
        color: black;
    }

    @media (max-width: 450px) {
        h3{
            text-align: center;
            margin-bottom: 80px;
        }

        textarea {
            width: 100% !important;
            height: auto;
            box-sizing: border-box;
            height: 160px !important;
            border: 1px solid #ccc;
        }

        form p {
            margin: 0;
            padding: 0;
        }

        button[type="submit"] {
            width: 80%;
            padding: 10px;
            font-size: 16px;
            box-sizing: border-box;
            margin-top: 100px;
        }
    }
</style>

<h2>Coffeechat Review</h2>
<h3>선배님과의 커피챗 리뷰를 남겨주세요!</h3>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="id_content"></label>
        <textarea name="content" cols="40" rows="10" id="id_content" style="width: 672px; height: 304px;"></textarea>
    </p>
    <button type="submit">Submit</button>
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}
{% endblock %}